<div class="container">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag @portfolio_items.main_image.url, width: '100%' %>
			
		</div>
		<div class="col-md-5">
			<h1><%= @portfolio_items.title %></h1>

			<hr>

			<em><%= @portfolio_items.subtitle %></em>

			<p><%= @portfolio_items.body %></p>

			<hr>

			<h3>Technologies Used:</h2>

			<% @portfolio_items.technologies.each do |t| %>
				<p><strong><%= t.name %></strong></p>
			<% end %>
		</div>
	</div>
</div>



